# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd;exit:date:* --help"
# Timestamp history
export HISTTIMEFORMAT="%D %T "
# save each command right after execution
# more detail (and possible better solution) can be found here
# http://stackoverflow.com/questions/103944/real-time-history-export-amongst-bash-terminal-windows
# export PROMPT_COMMAND="history -a; history -n"
export PROMPT_COMMAND="history -a"

#default grep to color-rific
export GREP_OPTIONS='--color=auto'

#requires ~/.dotfiles-bin unless you happen to have lesspipe in your command path already.
export LESSOPEN="|"$HOME"/.dotfiles-bin/lesspipe.sh %s"
#turns on color support in less. works with code2color+lesspipe
#export LESS="-R"

export PATH="~/Applications/bin:/usr/local/bin:/usr/local/sbin:$PATH"

# Disables Python 2.6+ from writing pyc/pyo files
export PYTHONDONTWRITEBYTECODE=1

export GOPATH=$HOME/code/gopath
